.header {
  background-color: $blue;

  &__contents {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__head {
      font-size: 3.2rem;
      color: #fff;
    }

    &__action-nav {
      font-size: 0;
    }
  }
}

.link-cassette {
  display: inline-block;
  text-align: center;

  &:first-of-type {
    background-color: $lightblue;

    &:hover {
      background-color: lighten($lightblue, 5%);
    }
  }

  &:nth-of-type(2) {
    background-color: $darkblue;

    &:hover {
      background-color: lighten($darkblue, 5%);
    }
  }

  &__icon {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 16px;

    i {
      font-size: 2.5rem;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 1.6rem;
    }
  }
}

.content {
  margin-top: 50px;
}

.contents__title {
  font-size: 3rem;
  margin-bottom: 30px;

  .work & {
    text-align: center;
  }
}

.work {
  width: 1280px;
  margin: 0 auto;

  &__body {
    display: flex;
    justify-content: space-between;

    &__side {
      width: 230px;

      &__type {
        &__head {
          background-color: $lightblue;
          padding: 8px 20px;
        }

        &__list {
          background-color: $gray95;
          padding: 10px 0 10px 0;

          &__item {
            list-style: none;
            padding-left: 30px;

            &:hover {
              background-color: darken($gray95, 5%);
            }
          }
        }
      }

      .checkbox__category {
        display: block;
        padding: 4px 0;
      }
    }

    &__main__list {
      font-size: 0;
      width: 930px;

      .cassette__box {
        @include cassette__box;
      }
    }
  }
}

.profile {
  padding: 50px 0;
  background-color: $gray95;

  &__inner {
    @include inner;

    background-color: #fff;
  }

  &__body {
    @include clearfix;

    margin: 0 20px;

    &__contact-information {
      margin-top: 15px;
      list-style: none;
    }

    &__text {
      margin: 10px 0 0 10px;

      &:first-of-type {
        margin-top: 30px;
      }
    }

    &__company-list {
      margin-left: 30px;

      &__item {
        margin-top: 5px;
      }
    }

    &__detail_button {
      float: right;

      a {
        @include radius-button;
      }
    }
  }
}

.contact {
  padding: 50px 0;

  &__inner {
    @include inner;

    background-color: $lightblue;

    .contents__title {
      color: #fff;
    }

    &__body {
      .form-input {
        display: block;
        width: 850px;
        padding: 5px;

        &:not(:first-child) {
          margin-top: 30px;
        }
      }

      textarea {
        resize: vertical;
        height: 200px;
      }

      &__submit-button {
        @include radius-button;

        cursor: pointer;
        text-decoration: none;
        margin: 20px auto 0;
      }
    }
  }
}

.footer {
  background-color: $gray20;
  color: #fff;

  &__contents {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;

    &__logo {
      font-size: 20px;
    }

    .copy-right {
      font-size: 1rem;
    }
  }
}
