//radius-button   角丸ボタン

@mixin radius-button {
  text-align: center;
  height: 50px;
  line-height: 50px;
  display: block;
  text-decoration: none;
  color: #fff;
  border: 1px solid $darkblue;
  background-color: $darkblue;
  width: 250px;
  border-radius: 25px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #fff;
    color: $darkblue;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin card_centering {
  width: 100%;
  height: 100%;
  padding: 30px;
  backface-visibility: hidden;
  position: absolute;
  text-align: center;
  transform-style: preserve-3d;
  background: #fff;

  &__head {
    font-size: 2rem;
    margin-bottom: 8px;
  }
}

@mixin labeling {
  position: absolute;
}

@mixin spin_card {

  padding: 0 15px;
  margin-bottom: 30px;
  background-color: transparent;
  perspective: 1000px;
  list-style: none;

  &:hover .spin__card__inner {
    transform: rotateY(180deg);
  }

  &__inner {
    display: block;
    position: relative;
    width: 290px;
    height: 290px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 6px;
    text-decoration: none;
    color: $gray20;
    will-change: contents;

    &__front {
      $this: &;
      position: relative;

      @include card_centering;

      &__image {
        font-size: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          object-fit: contain;
          width: 230px;
          height: 190px;
        }
      }
      .label-area {
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        font-size: 1.2rem;
        &__item {
          display: block;
          padding: 3px;
          color: white;
          &--layout {
            background: $orange;
          }
          &--js {
            background: $purple;
          }
          &--design {
            background: $yellow;
          }
        }
      }
    }

    &__back {
      @include card_centering;

      transform: translateZ(-1px)  rotateY(180deg);

      &__text {
        text-align: left;
        font-size: 1.6rem;
        width: 230px;
        height: 190px;
        white-space: pre-wrap;
        overflow: auto;
      }
    }
  }
}

@mixin inner {
  max-width: 930px;
  margin: 0 auto;
  padding: 20px;
}

@mixin checkbox_label {
  &__checkbox {
    display: inline-block;
    position: relative;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: solid 1px $gray65;
    border-radius: 5px;

    .select__category & {
      vertical-align: sub;
    }
  }

  input[type="checkbox"]:checked ~ &__checkbox {
    background-color: $darkblue;
    border: none;
    &--layout {
      background-color: $orange;
    }
    &--js {
      background-color: $purple;
    }
    &--design {
      background-color: $yellow;
    }


    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -60%) rotate(45deg);
      display: block;
      border: solid 1px #fff;
      border-width: 0 2px 2px 0;
      width: 5px;
      height: 12px;
    }
  }

  input {
    display: none;
  }
}
