//radius-button   角丸ボタン

@mixin radius-button {
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid $darkblue;
    background-color: $darkblue;
    width: 250px;
    border-radius: 25px;

    &:hover {
      background-color: #fff;
      color: $darkblue;
    }
  }
}
