///色の変数
$darkblue: #07575b;
$blue: #66a5ad;
$lightblue: #c4dfe6;

$gray95: #f2f2f2;
$gray40: #666;
$gray20: #333;
///色の変数

html {
  font-size: 62.5%;
}

html * {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  box-sizing: border-box;
  min-width: 1280px;
  font-family: "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS Pgothic", "Osaka", sans-serif, Helvetica, Helvetica Neue, Arial, Verdana;
}

.pre-reload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

img {
  vertical-align: bottom;
}

input[type="submit"]:focus {
  outline: 0;
}
