///色の変数
$darkblue: #07575b;
$blue: #66a5ad;
$lightblue: #c4dfe6;

$gray95: #f2f2f2;
$gray20: #333;
///色の変数

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  box-sizing: border-box;
}
