$blue: #00a7b5;
$gold: #ab9d62;
$green: #939d4a;
$grey: #7f7f7f;
$deepGrey: #231f20;
$xs: 768px;  // スマホ
$xxs: 500px;  // スマホ
@mixin xs {
  @media (max-width: ($xs)) {
    @content;
  }
}
@mixin xxs {
  @media (max-width: ($xxs)) {
    @content;
  }
}

@mixin section-dom {
  margin-top: 120px;
  &__head {
  	margin-bottom: 20px;
  	text-align: center;
    letter-spacing: 2px;
  }
  @include xs {
  	margin-top: 50px;
  }
}

@mixin centeringItem {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

@mixin coverDom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}


@mixin detail_button {
  display: block;
  width: 106px;
  padding: 12px;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	background: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

@mixin detail_button--inner-contents {
	@include detail_button;
	position: absolute;
	left: 50%;
	bottom: 10%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}

@mixin radiusButton {
  @include shadowAnimation;
  width: 180px;
  text-align: center;
  background: #fff;
  border-radius: 6px;
  a {
    display: block;
    padding: 10px 13px;
  }
}

@mixin contentArea($width:1200px) {
  max-width: $width;
  margin: 0 auto;
}

@mixin shadowAnimation {
  box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease 0s;
  &:hover {
    box-shadow: none;
  }
}

@mixin toneDown {
  &::after {
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color:rgba(0,0,0,0.0);
    transition: all 0.5s ease;
  }
  &:hover {
    &::after {
      background-color:rgba(0,0,0,0.2);
    }
  }
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

/*仮*/

.bold-under {
  font-weight: bold;
  border-bottom :solid 1px #fff;
}
/*mireset.cssをさらに上書き*/
.aem-html-content.wrap a:hover,
.aem-html-content.wrap a:focus {
  color: #000 !important;
  text-decoration: none !important;
}
/*ここまで*/

.parallax {
  position: relative;
  opacity: 0;
  top: 30px;
  transition: all ease-in-out 1s;
}

.hidden-xxs {
	display: block;
	@include xxs {
		display: none;
	}
}

.visible-xxs {
	display: none;
	@include xxs {
		display: block;
	}
}

.aem-html-content img {
	width: 100%;
  flex-shrink: 0;
}

.br-sp {
  display: none;
  @include xs {
    display: block;
  }
}

.aem-html-content .block-container {
	padding: 5rem 4rem;
}

.container-area {
  $this: &;
  background: $blue;
  padding-bottom: 30px;
  &--lower {
    @extend #{$this};
    color:#fff;
  }
  &__pink {
    background: #e2bac3;
  }
  &__inner {
    @include contentArea(1140px);
  }
}

header h1 {
  width: 260px;
  margin: 0;
  padding: 20px;
  a {
    display: flex;
    align-items: center;
  }
  @include xs {
    width: 230px;
    padding: 10px;
  }
}

.top-title {
  text-align: center;
  margin: 0;
  .title-img {
    display: block;
    max-width: 510px;
    margin: 10px auto 0;
    &--02 {
      max-width: 140px;
    }
  }
  @include xs {
    padding: 0 30px;
  }
}

.each_shop{
  padding: 30px 0;
	text-align: center;
  &__button {
    @include radiusButton;
    margin: 30px auto 0;
  }
}
.lead {
  @include contentArea(1140px);
	margin-top: 30px;
  padding: 30px;
	font-size: 1.6rem;
	line-height: 1.8;
  text-align: center;
}


.lower-header {
  @include contentArea(1140px);
  text-align: center;
}

.feature-area {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    &__item {
      position: relative;
      width:49%;
      &:not(:nth-last-of-type(-n+2)) {/*最後の二つ以外*/
        margin-bottom: 20px;
      }
      a {
        @include toneDown;
      }
    }
  }
  @include xs {
    padding: 0 15px;
    &__list {
      &__item {
        width: 100%;
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}

.gender {
  margin-top: 50px;
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 52px;
    font-size: 2.4rem;
    font-family: YuMincho,'Yu Mincho',serif;
    text-align: center;
    color: #fff;
    background: $gold;
    span {
      font-size: 3.6rem;
    }
  }
}

.sweets-select {
  @include contentArea(600px);
  margin-top: 30px;
  &__head {
    margin-bottom: 24px;
    padding: 0 30px;
  }
  &__text {
    margin-top: 15px;
    font-family: YuMincho,'Yu Mincho',serif;
    text-align: center;
    font-weight: bold;
  }
  &__button {
    @include toneDown;
    @include shadowAnimation;
    position: relative;
    margin-top: 15px;
    padding: 15px 10px;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    font-family: YuMincho,'Yu Mincho',serif;
    font-weight: bold;
    background: $green;
    border-radius: 8px;
    &::after {
      border-radius: 8px;
    }
    &__note {
      font-size: 1.3rem;
      color: #000;
    }
    span {
      font-size: 2.4rem;
    }
  }
  @include xs {
    padding: 0 30px;
    &__head {
      padding: 0;
    }
  }
}

.sweets-section {
  $this: &;
  margin-top: 150px;
  &__head {
    padding: 10px 0;
    font-size: 4rem;
    font-family: YuMincho,'Yu Mincho',serif;
    color: #fff !important;
    text-align: center;
    background: $green;
  }
  &__text {
    @include contentArea(600px);
    margin-top: 8px;
    line-height: 1.8;
  }
  &--first {
    @extend #{$this};
    margin-top: 50px;
  }
  @include xs {
    &__text {
      padding: 0 30px;
    }
  }
}

.warning-note {
  margin: 30px 0;
  text-align: center;
  line-height: 1.8;
  color: #fff;
}

.footer-banner {
  @include contentArea(1140px);
  position: relative;
  margin: 30px auto;
  text-align: center;
  a {
    @include toneDown;
  }
  @include xs {
    margin: 30px;
  }
}

.holding-store {
  $this: &;
	@include section-dom;
  margin-top: 0;
	padding: 30px 0;
	text-align: center;
  border-top: solid 4px $gold;
	&__inner {
	  @include contentArea(700px);
	}
	&__head {
		font-size: 16px;
		padding-bottom: 10px;
		border-bottom: solid 1px #000;
	}
	&__date {
		margin-top: 40px;
	}
	&__img {
		/*box-shadow: 2px 5px 6px rgba(0,0,0,0.2);*/
	}
	.note {
		margin-top: 10px;
	}
  .period {
    margin-top: 30px;
  }
	@include xs {
		padding: 40px 15px 10px;
    margin-top: 0;
		&__head02 {
			margin-top: 40px;
		}
	}
}

.online-store {
	padding: 40px 0;
	text-align: center;
	background: #D1D0D0;
  border-top: solid 4px $gold;
  border-bottom: solid 4px $gold;
	&__inner {
		@include contentArea(700px);
	}
	&__head {
    margin: 0;
		padding-bottom: 10px;
		font-size: 22px;
    color: #023893;
	}
	&__text {
		margin: 20px auto 0;
	}
	&__img {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		&__item {
			border-radius: 18px;
			background: #fff;
      a {
        display: block;
        padding: 12px 80px;
      }
			img {
				width: auto;
			}
		}
	}
	@include xs {
		padding: 40px 15px;
		&__img {
			flex-direction: column;
			&__item {
				width: 100%;
				&:not(:first-child) {
					margin-top: 30px;
				}
			}
		}
	}
}

.page-copy {
  @include contentArea(1120px);
  margin-bottom: 0;
  padding: 20px 15px;
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
  &__text {
    display: inline-block;
    text-align: left;
  }
  @include xs {
    padding: 20px 30px;
  }
}

.product-block {
  $this : &;
  @include contentArea(600px);
  margin-top: 40px;
  &__text {
    margin-top: 20px;
  }
  &--first {
    @extend #{$this};
    margin-top: 0;
  }
  &__head {
    $head : &;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
      font-size: 2rem;
      text-align: center;
      font-family: 'Noto serif Japanese', serif;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  @include xs {
    padding: 0 30px;
    &__head {
      min-height: initial;
    }
  }
}

.title {
  $this: &;
  @include contentArea(780px);
  margin-top: 50px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  @include xs {
    padding: 0 15px;
  }
  &--border {
    @extend #{$this};
    font-size: 21px;
    padding-top: 30px;
    border-top: solid 1px $grey;
  }
  &--left {
    @extend #{$this};
    text-align: left;
  }
}

.text-box {
  @include contentArea(780px);
  margin-top: 10px;
  @include xs {
    padding: 0 15px;
  }
}

.btn-ec a{
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 10px;
  color: #fff !important;
  font-size: 1.3rem;
  background: #333;
  border: solid 1px #333 !important;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}

.aem-html-content .btn-ec a:hover {
  color: #333 !important;
  background: #fff;
  text-decoration: none;
}

.aem-html-content .link-btn {
	display: block;
	width: 105px;
	background: #fff;
	font-size: 12px;
  letter-spacing: 0;
	padding: 14px 4px;
	@include shadowAnimation;
}

.aem-html-content .link-btn:hover,
.aem-html-content a.link-btn:hover {
	box-shadow: none;
	text-decoration: none;
	color: #000;
}

.detail-button {
	@include detail_button;
	border: solid 1px #777;
}

.radius-button {
  @include radiusButton;
  .top-title & {
    margin: 20px auto 0;
    padding: 5px 13px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.aem-html-content .btn-shadow {
	display: inline-block;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
	transition: all 0.3s ease 0s;
}

.aem-html-content .btn-shadow:hover {
	box-shadow: none;
	text-decoration: none;
	color: #0D0D0D;
}

.aem-html-content .shops-container h1 {
	margin-bottom: 3rem;
}

.aem-html-content .shops-container h2 {
	font-size: 1.6rem;
	border-bottom: 2px solid #0D0D0D;
	padding-bottom: 1rem;
	margin-top: 4rem;
}

.shops-container {
	margin-right: 8px;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.shops-container li{
	list-style: none;
	margin: 0 0 16px 8px;
}

.aem-html-content .shops-container .shop-btns {
	margin-top: 3rem;
}

.aem-html-content .shops-container .shop-btns .date {
	font-weight: 600;
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
}

.aem-html-content .shops-container ul li .link-btn {
	font-size: 1.3rem;
	line-height: 1.2;
	width: 120px;
	height: 40px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aem-html-content p.place {
  margin-top: 20px;
	font-size: 1.3rem;
}

.aem-html-content .footer-menu-container a.link-btn {
	display: block;
  font-size: 1.4rem;
	text-align: center;
  color: #fff !important;
  font-weight: bold;
  background: $deepGrey;
  &:hover{
    color: #fff !important;
  }
}

.aem-html-content .footer-menu-container a.link-btn.topics-btn {
	line-height: 3.4;
	padding: 0;
}

.page-navi {
  $this: &;
	display: flex;
	justify-content: space-between;
  &--first {
    @extend #{$this};
    justify-content: flex-end;
    :last-child {
      margin-left: 5%;
      @include xs {
        margin-left: 3%;
      }
    }
  }
  &--last {
    @extend #{$this};
    justify-content: flex-start;
    :first-child {
      margin-right: 5%;
      @include xs {
        margin-right: 3%;
      }
    }
  }
}

.page-navi a.link-btn {
	width: 28%;
}

.page-navi a.link-btn:nth-child(2) {
	width: 33%;
}

@media (max-width: 768px) {
	.aem-html-content .block-container {
		padding: 3rem 1.5rem;
	}

	.page-navi a.link-btn {
		width: 30%;
		padding-right: 0;
		padding-left: 0;
	}


	.page-navi a.link-btn:nth-child(2) {
		width: 33%;
	}
}

.wrap {
  position: relative;
}

#question_wrap {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: YuMincho,'Yu Mincho',serif;
  font-weight: 600;
  transition: all 1s ease;
}

.question-bg {
  @include centeringItem;
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.question {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  width: 768px;
  height: 540px;
  z-index: 12;
  background-image: url("../christmas_collection/2019/img/question_bg.png");
  background-size: cover;
  color: #909C46;
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
    padding: 60px;
  }
  &__head {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 3.6rem;
    &__title {
      margin: 0;
    }
  }
  &__list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    font-size: 2.4rem;
    list-style: none;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      cursor: pointer;
    }
    span {
      font-size: 5rem;
    }
  }
  &__button {
    @include shadowAnimation;
    width: 180px;
    margin: 30px auto 0;
    padding: 10px 13px;
    color: #fff !important;
    text-align: center;
    background: $green;
    border-radius: 6px;
  }

  @include xs {
    width: 320px;
    height: 430px;
    background-image: url("../christmas_collection/2019/img/sp/question_bg.png");
    &__inner {
      padding: 30px;
    }
    &__head {
      flex: 1 0 auto;
      flex-direction: column;
      width: 100%;
      font-size: 2.4rem;
    }
    &__list {
      flex: 6 0 auto;
      flex-direction: column;
      font-size: 1.6rem;
      &__item {
        flex-direction: row;
      }
      span {
        margin-right: 8px;
        font-size: 3rem;
      }
    }
    &__button {
      font-size: 1.6rem;
    }
  }
}
